@-ms-viewport{width:device-width;zoom:1;}
@-o-viewport{width:device-width;zoom:1;}
@viewport{width:device-width;zoom:1;}
html{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;}
body{margin:0;font-size:62.5%;}
p{font-size:13pt;text-align:center;color:#696969;padding:10px;margin:0;}
textarea:focus, input:focus, button:focus {outline:0;}
	#game-canvas{float:left;display:block;background-color:#34495e;}
	#start-popup {padding:12px 20px 20px 20px;text-align:center !important;transform:scale(0.8);}
	.popup_visible #start-popup {transform:scale(1);}
		#start-popup-name{display:block;margin:auto;padding:8px 12px;width:69px;font-size:14px;border-radius:4px;border:1px solid #ccc;margin-bottom:10px;}
	#shop-popup {padding:20px;text-align:center !important;transform:scale(0.8);}
	.popup_visible #shop-popup {transform:scale(1);}
		#shop-popup{min-width:200px;position:relative;}
			#shop-popup-close{position:absolute;top:10px;right:10px;}
				#shop-popup-close:hover{cursor:pointer;}
			#shop-popup table{margin-top:20px;}
				#shop-popup td{padding:2px 10px;}
					.shop-buy:hover{cursor:pointer;}
	.game-ui-text{position:absolute;left:20px;}
		#game-ui-text-fuel{bottom:228px;}
		#game-ui-text-health{bottom:188px;}
	.audio-mute{position:absolute;left:20px;bottom:15px;}
		.audio-mute:hover{cursor:pointer;}
	.music-mute{position:absolute;left:80px;bottom:15px;}
		.music-mute:hover{cursor:pointer;}
	.shop-open{position:absolute;left:140px;bottom:15px;}
		.shop-open:hover{cursor:pointer;}

 .light-grey-background{background-color:#f5f5f5;}
 .white-background{background-color:#fff;}
 .green-background{background-color:#2ecc71;}
 .blue-background{background-color:#3498db;}
 
 .small-margin-right{margin-right:1px;}
 .medium-margin-right{margin-right:6px;}
 .small-padding-bottom{padding-bottom:2px;}
 
.hidden{display:none !important;}
 
 .button{display:inline-block;padding:6px 12px;margin:auto;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select: none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border: 1px solid transparent;border-radius:4px;border-color:#3498db;color:#fff;}
	.button:hover{background-color: #2ecc71;border-color: #2ecc71;}